:host {
  /* The background color of the alert items */
  --wc-clr-background: #333;

  /* The text color of the alert items */
  --wc-clr-text: #fff;

  /* The duration of the reveal/hide animation */
  --wc-dur-anim: 0.3s;

  /* The item container border color */
  --wc-clr-border: rgb(255 255 255 / 10%);

  /* The gap between the alert items */
  --wc-sp-gap: 1rem;

  display: contents;

  @media (prefers-reduced-motion) {
    --wc-dur-anim: 0s;
  }
}

.popover {
  inset: unset;
  inset-block-end: 0;
  inset-inline-end: 0;
  inline-size: 100%;
  max-inline-size: 500px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;

  &::backdrop {
    display: none;
  }
}

.alert-container {
  display: flex;
  flex-direction: column-reverse;
  margin: var(--wc-sp-gap);
  overflow: hidden;

  &.stacked-3d {
    display: grid;
    align-items: end;
    perspective: 500px;
  }
}

.alert-item {
  --type-color: #fff;

  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: var(--wc-clr-background);
  border: solid 1px var(--wc-clr-border);
  border-radius: 12px;
  animation: item-show var(--wc-dur-anim) ease-out backwards;

  &:not(:last-child) {
    margin-block-start: var(--wc-sp-gap);
  }

  &.hide {
    overflow: hidden;
    animation: item-hide var(--wc-dur-anim) ease-out forwards;
  }

  .close-btn {
    float: inline-end;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 100ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      display: block;
      inline-size: 24px;
      block-size: 24px;
      fill: var(--wc-clr-text);
    }
  }

  .divider {
    align-self: stretch;
    inline-size: 1px;
    background-color: var(--wc-clr-text);
  }

  .item-message {
    flex: 1;
    margin: 0;
    color: var(--wc-clr-text);
    text-align: center;
    overflow-wrap: anywhere;
  }

  &.error {
    --type-color: #f44336;
  }

  &.info {
    --type-color: #2196f3;
  }

  &.success {
    --type-color: #4caf50;
  }

  &.warning {
    --type-color: #f90;
  }
}

.stacked-3d .alert-item {
  --order: 10;

  grid-area: 1 / 1;
  margin-block-end: calc(12px * var(--order));
  pointer-events: none;
  opacity: calc((10 - var(--order)) / 5);
  filter: blur(calc(0.2px * var(--order)));
  transform: translateZ(calc(-20px * var(--order)));
  transition-duration: var(--wc-dur-anim);
  transition-property: transform, opacity, margin-bottom, filter;
  transform-style: preserve-3d;

  &:nth-last-child(1) {
    --order: 0;

    pointer-events: unset;
  }

  &:nth-last-child(2) {
    --order: 1;
  }

  &:nth-last-child(3) {
    --order: 2;
  }

  &:nth-last-child(4) {
    --order: 3;
  }

  &:nth-last-child(5) {
    --order: 4;
  }

  &:nth-last-child(6) {
    --order: 5;
  }

  &:nth-last-child(7) {
    --order: 6;
  }

  &:nth-last-child(8) {
    --order: 7;
  }

  &:nth-last-child(9) {
    --order: 8;
  }

  &:nth-last-child(10) {
    --order: 9;
  }

  &:nth-last-child(11) {
    --order: 10;
  }
}

@keyframes item-show {
  from {
    opacity: 0;
    translate: 0 50px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes item-hide {
  to {
    block-size: 0;
    padding-block: 0;
    margin-block: 0;
    opacity: 0;
    translate: 0 50px;
  }
}

.item-title-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    font-weight: bold;
    color: var(--wc-clr-text);
  }
}

.alert-icon {
  inline-size: 24px;
  block-size: 24px;
  fill: var(--type-color);
}
