:host {
  /* The background color of the alert items */
  --clr-background: #333;

  /* The text color of the alert items */
  --clr-text: #fff;

  /* The duration of the reveal/hide animation */
  --dur-anim: 0.3s;

  /* The gap between the alert items */
  --sp-gap: 1rem;

  display: contents;

  @media (prefers-reduced-motion) {
    --dur-anim: 0s;
  }
}

.popover {
  inset: unset;
  bottom: 0;
  right: 0;
  max-width: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  &::backdrop {
    display: none;
  }
}

.alert-container {
  display: flex;
  flex-direction: column-reverse;
  margin: var(--sp-gap);
  overflow: hidden;

  &.stacked-3d {
    display: grid;
    align-items: end;
    perspective: 500px;
  }
}

.alert-item {
  --type-color: #fff;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
  padding: 1rem;
  border: solid 1px rgb(255 255 255 / 10%);
  background-color: var(--clr-background);
  box-sizing: border-box;
  box-shadow: 0 0.1rem 1rem -0.5rem rgb(0 0 0 / 40%);
  animation: item-show var(--dur-anim) ease-out backwards;

  &:not(:last-child) {
    margin-top: var(--sp-gap);
  }

  &.hide {
    overflow: hidden;
    animation: item-hide var(--dur-anim) ease-out forwards;
  }

  .close-btn {
    float: inline-end;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 100ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: var(--clr-text);
    }
  }

  .divider {
    align-self: stretch;
    width: 1px;
    background-color: var(--clr-text);
  }

  .item-message {
    flex: 1;
    margin: 0;
    text-align: center;
    overflow-wrap: anywhere;
    color: var(--clr-text);
  }

  &.error {
    --type-color: #f44336;
  }

  &.info {
    --type-color: #2196f3;
  }

  &.success {
    --type-color: #4caf50;
  }

  &.warning {
    --type-color: #f90;
  }
}

.stacked-3d .alert-item {
  --order: 10;

  grid-area: 1 / 1;
  transform-style: preserve-3d;
  transform: translateZ(calc(-20px * var(--order)));
  opacity: calc((10 - var(--order)) / 5);
  filter: blur(calc(0.2px * var(--order)));
  margin-bottom: calc(12px * var(--order));
  transition-property: transform, opacity, margin-bottom, filter;
  transition-duration: var(--dur-anim);
  pointer-events: none;

  &:nth-last-child(1) {
    --order: 0;

    pointer-events: unset;
  }

  &:nth-last-child(2) {
    --order: 1;
  }

  &:nth-last-child(3) {
    --order: 2;
  }

  &:nth-last-child(4) {
    --order: 3;
  }

  &:nth-last-child(5) {
    --order: 4;
  }

  &:nth-last-child(6) {
    --order: 5;
  }

  &:nth-last-child(7) {
    --order: 6;
  }

  &:nth-last-child(8) {
    --order: 7;
  }

  &:nth-last-child(9) {
    --order: 8;
  }

  &:nth-last-child(10) {
    --order: 9;
  }

  &:nth-last-child(11) {
    --order: 10;
  }
}

@keyframes item-show {
  from {
    opacity: 0;
    translate: 0 50px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes item-hide {
  to {
    opacity: 0;
    translate: 0 50px;
    margin-block: 0;
    padding-block: 0;
    height: 0;
  }
}

.item-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  p {
    margin: 0;
    font-weight: bold;
    color: var(--clr-text);
  }
}

.alert-icon {
  width: 24px;
  height: 24px;
  fill: var(--type-color);
}
