:host {
  /* The background color of the tooltip. */
  --wc-clr-background: #333;

  /* The border color of the tooltip. */
  --wc-clr-border: #ffffff1a;

  /* The size of the arrow that points to the element that the tooltip is attached to. */
  --wc-sz-arrow: 12px;

  /* The color of the arrow that points to the element that the tooltip is attached to. */
  --wc-clr-arrow: var(--wc-clr-background);

  /* The easing function of the show/hide animation. */
  --wc-dur-anim: 0.2s;

  /* The easing function of the show/hide animation. */
  --wc-ease-anim: linear;

  display: contents;

  @media (prefers-reduced-motion) {
    --wc-dur-anim: 0s;
  }
}

.popover {
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.8rem;
  overflow: visible;
  pointer-events: none;
  background-color: var(--wc-clr-background);
  border: solid 1px var(--wc-clr-border);
  border-radius: 12px;
  box-shadow: 5px 5px 7px -6px rgb(0 0 0 / 55%);
}

.popover::backdrop {
  display: none;
}

.arrow {
  position: absolute;
  inline-size: var(--wc-sz-arrow);
  block-size: var(--wc-sz-arrow);
  fill: var(--wc-clr-arrow);
  stroke: var(--wc-clr-border);
  stroke-width: 1px;
  stroke-dasharray: var(--wc-sz-arrow);
  stroke-dashoffset: calc(var(--wc-sz-arrow) / 3.4);
}

.popover.top .arrow {
  inset-block-end: 0;
  inset-inline-start: 50%;
  translate: -50% 100%;
}

.popover.bottom .arrow {
  inset-block-start: 0;
  inset-inline-start: 50%;
  rotate: 180deg;
  translate: -50% -100%;
}

.popover.left .arrow {
  inset-block-start: 50%;
  inset-inline-end: 0;
  rotate: -90deg;
  translate: 100% -50%;
}

.popover.right .arrow {
  inset-block-start: 50%;
  inset-inline-start: 0;
  rotate: 90deg;
  translate: -100% -50%;
}
