:host {
  /* The default font family of the code editor. */
  --font-family: monospace;

  /* The default font size of the code editor. */
  --font-weight: normal;

  /* The default font size of the code editor. */
  --sz-font: 1rem;

  /* The default line height of the code editor. */
  --line-height: 1.8;

  /* The default background color of the code editor. */
  --clr-background: #1f1f1f;

  /* The editor background when focused */
  --clr-focused: hsl(from var(--clr-background) h s calc(l * 0.8));

  /* The background color of the selected text. */
  --clr-text-selection-bg: #3a3a9e;

  /* The text color of the selected text. */
  --clr-text-selection-txt: #fff;

  /* The color of the scrollbar. */
  --clr-scrollbar: #292929;

  /* The color of the border. */
  --clr-border: #ffffff1a;

  /* The width of the line numbers column. */
  --sz-line-numbers-width: calc(var(--sz-font) * 3);

  /* The background color of the line numbers. */
  --clr-line-numbers-background: #8a8a8a;

  /* The text color of the line numbers. */
  --clr-line-numbers-txt: #ffffff1a;

  /* The background color of the active line number. */
  --clr-line-numbers-active-txt: #fff;

  /* The background color of the active line. */
  --clr-active-line: #3a3a9e6f;

  /* The padding of the code editor. */
  --sz-padding: 0.5rem;

  /* The border radius of the code editor. */
  --sz-border-radius: 4px;

  display: block;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  block-size: 100%;
  overflow: clip;
  background-color: var(--clr-background);
  border: 1px solid var(--clr-border);
  border-radius: var(--sz-border-radius);
  box-shadow: 0 0.1rem 1rem -0.5rem #0006;

  /* transition: background-color 100ms linear; */

  &:has(.textarea:focus:not(:read-only)) {
    background-color: var(--clr-focused);
  }
}

.container {
  position: relative;
  display: flex;
  flex: 1;
  padding: var(--sz-padding);
}

.floating-container {
  position: absolute;
  inset-block-start: 0.4rem;
  inset-inline-end: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.floating-btn {
  place-items: center;
  padding: 0.4rem;
  cursor: pointer;
  background-color: hsl(from var(--clr-background) h s calc(l * 0.9));
  border: solid 1px var(--clr-border);
  border-radius: 8px;
  opacity: 0.5;
  transition: opacity 200ms linear;

  &:hover {
    opacity: 1;
  }

  svg {
    inline-size: 20px;
    block-size: 20px;
    fill: currentcolor;
  }
}

.copy-btn {
  display: none;
}

.wrap-btn {
  display: grid;
}

.textarea {
  flex: 1;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  color: transparent;
  caret-color: #cacaca;
  resize: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &::selection {
    color: var(--clr-text-selection-bg);
    background-color: var(--clr-text-selection-bg);
  }

  /* stylelint-disable-next-line selector-no-vendor-prefix */
  &::-moz-selection {
    color: var(--clr-text-selection-bg);
    background-color: var(--clr-text-selection-bg);
  }
}

.highlight {
  position: absolute;
  inset-block-start: 0;
  overflow: hidden;
  pointer-events: none;
}

.box {
  font-family: var(--font-family);
  font-size: var(--sz-font);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  vertical-align: middle;
  text-align: start;
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre;
  border: none;
}

.wrap {
  white-space: pre-wrap;
}

.line-numbers-placeholder {
  position: relative;
  display: none;
  inline-size: var(--sz-line-numbers-width);
  background-color: var(--clr-line-numbers-background);
}

.lines {
  .line {
    display: inline-block;
    inline-size: 100%;
    padding-inline-end: var(--sz-padding);
  }

  .line.active {
    --border-clr: hsl(from var(--clr-active-line) h s l / calc(alpha * 1.4));

    background: linear-gradient(
      0deg,
      var(--border-clr) 2px,
      var(--clr-active-line) 2px,
      var(--clr-active-line) calc(100% - 2px),
      var(--border-clr) calc(100% - 2px)
    );
  }
}

.linenumbers {
  .line-numbers-placeholder {
    display: block;
  }

  .container {
    padding: 0;
  }

  .box {
    padding-block: var(--sz-padding);
    padding-inline-start: var(--sz-padding);
  }

  .lines {
    padding: 0;
    padding-inline-start: var(--sz-line-numbers-width);
    margin: 0;
    counter-reset: list-item;

    .line {
      position: relative;
      counter-increment: list-item;
    }

    .line::before {
      position: sticky;
      inset-inline-start: calc(var(--sz-padding) * -1);
      display: inline-block;
      inline-size: calc(var(--sz-line-numbers-width) - var(--sz-padding));
      block-size: 100%;
      padding-inline-start: var(--sz-padding);
      margin-inline: calc((var(--sz-line-numbers-width) + var(--sz-padding)) * -1) var(--sz-padding);
      font-family: var(--font-family);
      font-size: var(--sz-font);
      font-weight: var(--font-weight);
      line-height: var(--line-height);
      color: var(--clr-line-numbers-txt);
      text-align: end;
      content: counter(list-item) " ";
      background-color: var(--clr-line-numbers-background);
      transition-timing-function: linear;
      transition-duration: 100ms;
      transition-property: color;
    }

    .line:first-child::before {
      padding-block-start: var(--sz-padding);
      margin-block-start: calc(var(--sz-padding) * -1);
    }

    .line:last-child::before {
      padding-block-end: var(--sz-padding);
      margin-block-end: calc(var(--sz-padding) * -1);
    }

    .line.active::before {
      font-weight: bold;
      color: var(--clr-line-numbers-active-txt);
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  @supports (scrollbar-width: thin) {
    .textarea {
      scrollbar-color: var(--clr-scrollbar);
      scrollbar-width: thin;
      scrollbar-base-color: #3a3a9e;
      scrollbar-track-color: #3a3a9e;
    }
  }

  .textarea::-webkit-scrollbar-corner {
    background: transparent;
  }

  .textarea::-webkit-scrollbar {
    inline-size: 6px;
    block-size: 6px;
  }

  .textarea::-webkit-scrollbar-track {
    background: transparent;
  }

  .textarea::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--clr-scrollbar);
    border: none;
    border-radius: 10px;
  }
}

.hidden-scrollbar {
  &::-webkit-scrollbar {
    inline-size: 0;
    block-size: 0;
  }

  &::-webkit-scrollbar-thumb {
    pointer-events: none;
    cursor: unset;
    background: transparent;
    border: none;
  }
}
