.command-actions-dialog {
  .command-actions-container {
    color: var(--clr-text);
  }

  .command-actions-title {
    margin-block: 0 1em;
    font-size: var(--typ-font-size-3xl);
    font-weight: bold;
    text-align: start;
  }

  .command-actions-input-container {
    display: grid;
    grid-template-columns: auto 200px;
    gap: 1em;
    align-items: center;
    margin-block: 1em;

    p {
      margin: 0;
    }

    &:has([disabled]) p {
      color: var(--clr-text-dim);
    }
  }

  .command-actions-webhook-url-view {
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em;
    margin-block-start: 1em;
    background-color: var(--clr-surface-0);
    border-radius: var(--brd-radius-md);

    a {
      color: var(--clr-text-dim);
      overflow-wrap: anywhere;
      text-decoration: none;

      &:visited {
        color: var(--clr-text-dim);
      }

      &:hover {
        color: var(--clr-text);
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .command-actions-dialog {
    .command-actions-input-container {
      grid-template-columns: minmax(100px, 1fr);
      margin-block: 2em;
    }
  }
}
