:host {
  /* The duration for the open/close animation. */
  --dur-anim: 0.3s;

  /* The easing function for the open/close animation. */
  --ease-anim: ease;

  /* The background color of the summary/title. */
  --clr-summary-background: #333;

  /* The background color of the content container. */
  --clr-content-background: #282828;

  /* The border radius of the accordion component. */
  --rad-border: 8px;

  display: block;

  @media (prefers-reduced-motion) {
    --dur-anim: 0s;
  }
}

.container {
  overflow: hidden;
  background-color: var(--clr-content-background);
  border: 1px solid #ffffff1a;
  border-radius: var(--rad-border);
  box-shadow: 0 0.1rem 1rem -0.5rem #0006;
}

.accordion-trigger {
  display: flex;
  align-items: center;
  inline-size: 100%;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  background-color: var(--clr-summary-background);
  border: none;
  border-radius: var(--rad-border);
}

.marker {
  inline-size: 24px;
  block-size: 24px;
  fill: currentcolor;
  rotate: -90deg;
  transition: rotate var(--dur-anim) var(--ease-anim);
}

.accordion-trigger[aria-expanded="true"] .marker {
  rotate: 0deg;
}

.expander {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--dur-anim) var(--ease-anim);
  will-change: grid-template-rows;
}

.content {
  min-block-size: 0;
  padding-inline-start: 2.2rem;
}

.accordion-trigger[aria-expanded="true"] + .expander {
  grid-template-rows: 1fr;
}
