.layout {
  display: grid;
  grid-template-columns: 300px 1fr;

  &:has(.file-navigator.closed) {
    grid-template-columns: 0 1fr;
    transition-timing-function: ease-in-out;
    transition-duration: var(--anim-duration-md);
    transition-property: grid-template-columns;
  }
}

.file-navigator {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: span 2;
  max-block-size: 100dvh;
  background: linear-gradient(to bottom, var(--clr-surface-2) 50%, var(--clr-surface-1));
  transition-timing-function: ease-in-out;
  transition-duration: var(--anim-duration-md);
  transition-property: translate;

  &.closed {
    translate: -100% 0;
  }

  .file-navigator-header {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--clr-border);

    .header-title {
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0.5em;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: var(--typ-font-size-md);
      font-weight: bold;
      white-space: nowrap;
    }

    .header-buttons {
      display: flex;
      padding-inline-end: 0.2em;
    }
  }

  .file-navigator-header-btn {
    padding: 0.5em;
    color: var(--clr-text-dim);
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: var(--brd-radius-sm);
    transition-timing-function: ease-out;
    transition-duration: var(--anim-duration-short);
    transition-property: background-color, color;

    &:hover {
      color: var(--clr-text);
      background-color: var(--clr-surface-1);
    }

    svg {
      display: block;
      inline-size: 1.5em;
      block-size: 1.5em;
      margin: auto;
      fill: currentcolor;
    }
  }

  .file-navigator-search-container {
    display: flex;
    overflow: hidden;
  }

  .file-navigator-search {
    flex-shrink: 1;
    inline-size: 100%;
    padding: 0.5rem;
    margin: 0.5em;
    outline: none;
    background-color: var(--clr-surface-2);
    border-color: var(--clr-accent-border);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--brd-radius-md);
  }

  .content {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.25em;
    max-block-size: 100%;
    padding: 0.5em;
    padding-block-end: 2em;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .file-navigator-drop-aria-container {
    display: flex;

    .drop-aria {
      box-sizing: border-box;
      visibility: hidden;
      max-block-size: 0;
      padding: 0;
      overflow: clip;
      color: var(--clr-btn-txt);
      text-align: center;
      background-color: var(--clr-accent);
      border: var(--brd-width-thin) solid var(--clr-border);
      opacity: 0;
      transition-timing-function: ease-out;
      transition-duration: var(--anim-duration-long);
      transition-property: max-height, opacity, padding, visibility;
      transition-behavior: allow-discrete;

      &.show {
        visibility: visible;
        max-block-size: 4em;
        padding: 0.5em;
        opacity: 1;
      }

      .drop-icon {
        display: block;
        inline-size: 2em;
        block-size: 2em;
        margin: auto;
        fill: currentcolor;
      }
    }

    .delete-drop-aria {
      flex: 1;

      &.drag-over {
        background-color: var(--clr-danger-hover);
      }
    }

    .download-drop-aria {
      flex: 0.5;

      &.drag-over {
        background-color: var(--clr-accent-hover);
      }
    }
  }

  .resize-navigator-btn {
    --visible-width: var(--brd-width-thin);

    position: absolute;
    inset-block: 0;
    inset-inline-end: 0;
    float: inline-end;
    display: block;
    inline-size: 10px;
    padding: 0;
    cursor: ew-resize;
    background: linear-gradient(
      to right,
      transparent calc(100% - var(--visible-width)),
      var(--clr-border) calc(100% - var(--visible-width)),
      var(--clr-border)
    );
    border: none;
  }

  .toggle-navigator-btn {
    position: absolute;
    inset-block-start: 1em;
    inset-inline-end: 0;
    padding: 0.5em;
    cursor: pointer;
    border-radius: var(--brd-radius-full);
    translate: calc(100% + 1em) 0;

    svg {
      display: block;
      inline-size: 1.5em;
      block-size: 1.5em;
      fill: currentcolor;
    }
  }

  .folder {
    --dur-anim: var(--anim-duration-md);
    --ease-anim: --ease-out-quad();

    &::part(trigger) {
      padding: 0;
      padding-inline-start: 1em;
      user-select: none;
      background-color: transparent;
      border-radius: var(--brd-radius-md);
      transition-timing-function: ease-out;
      transition-duration: var(--anim-duration-md);
      transition-property: background-color, color;
    }

    &::part(trigger):hover {
      background-color: var(--clr-surface-1);
    }

    &::part(marker) {
      inline-size: 1em;
      min-inline-size: 1em;
      block-size: 1em;
      margin-inline-start: -1em;
    }

    &::part(container) {
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: unset;
    }

    &::part(content) {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      padding-inline-start: 1em;
      overflow: hidden;
      border-inline-start: solid var(--brd-width-thin) var(--clr-border);
    }

    &:not(:has(.file, .folder)) {
      &::part(marker) {
        display: none;
        pointer-events: none;
      }
    }

    .summary {
      display: flex;
      gap: 0.25em;
      align-items: center;
      inline-size: 100%;
      padding-inline-end: 0.2em;

      .editable {
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: var(--typ-font-family-base);
        font-size: var(--typ-font-size-sm);
        font-weight: bold;
        color: var(--clr-text-dim);
        text-align: start;
        white-space: nowrap;
      }

      .folder-icon {
        inline-size: 1em;
        block-size: 1em;
        padding-block: 0.5em;
      }

      .add-btn {
        aspect-ratio: 1;
        padding: 0.2em;
        color: var(--clr-text-dim);
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-radius: var(--brd-radius-md);
        transition-timing-function: ease-out;
        transition-duration: var(--anim-duration-short);
        transition-property: color, background-color;

        svg {
          display: block;
          inline-size: 1.2em;
          block-size: 1.2em;
          fill: currentcolor;
        }
      }
    }

    @media (hover: hover) and (pointer: fine) {
      .summary .add-btn {
        display: none;
      }

      .summary:hover .add-btn {
        display: block;
      }

      .summary .add-btn:hover {
        color: var(--clr-text);
        background-color: var(--clr-surface-2);
      }

      &::part(trigger):hover {
        background-color: var(--clr-surface-1);
      }
    }
  }

  .folder.drag-over {
    &::part(container) {
      background-color: var(--clr-surface-1);
      border-radius: var(--brd-radius-md);
    }

    &::part(trigger):hover {
      background-color: transparent;
    }
  }

  .file {
    display: flex;
    gap: 0.25em;
    align-items: center;
    padding: 0.5em;
    padding-inline-start: 1.2em;
    font-family: var(--typ-font-family-base);
    font-size: var(--typ-font-size-sm);
    color: var(--clr-text-dim);
    text-align: start;
    cursor: pointer;
    user-select: text;
    background-color: transparent;
    border: none;
    border-radius: var(--brd-radius-md);
    transition-timing-function: ease-out;
    transition-duration: var(--anim-duration-md);
    transition-property: background-color, color;

    &:hover {
      background-color: var(--clr-surface-1);
    }

    &:has(.editable[contenteditable="true"]) {
      background-color: var(--clr-surface-0);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .editable {
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .editable[contenteditable="true"] {
      color: var(--clr-text);
    }

    .file-icon {
      inline-size: 1em;
      block-size: 1em;
    }
  }

  .file.selected {
    color: var(--clr-btn-txt);
    background-color: var(--clr-accent);
  }
}

@media screen and (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;

    &:has(.file-navigator.closed) {
      grid-template-columns: 1fr;
    }
  }

  .file-navigator {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    z-index: 10;
    inline-size: calc(100% - 4.6em);

    .resize-navigator-btn {
      pointer-events: none;
    }
  }
}
