.execute-command-dialog {
  .primary-btn {
    display: block;
    inline-size: 100%;
    margin-block-start: 1em;
  }

  .cmd-dialog-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-block-size: 70svh;
    color: var(--clr-text);
  }

  .cmd-dialog-open-action-btn {
    float: inline-start;
    flex: unset;
    inline-size: unset;
    padding: 0.2em;
    margin: 0;

    svg {
      display: block;
      inline-size: 1.2em;
      block-size: 1.2em;
      margin: auto;
      fill: currentcolor;
    }
  }

  .cmd-dialog-title {
    margin-block-start: 0;
    font-size: var(--typ-font-size-2xl);
    font-weight: bold;
    text-align: center;
  }

  .dialog-sub-title {
    margin: 0;
    margin-block-start: 1em;
    font-size: var(--typ-font-size-md);
    font-weight: bold;
  }

  &:not(:has(label)) .arg-title.dialog-sub-title {
    display: none;
  }

  .cmd-dialog-inputs-container {
    display: grid;
    grid-template-columns: auto minmax(100px, 1fr);
    gap: 1em;
    align-items: center;

    input {
      flex: 1;
      padding: 0.5em;
      margin: 0;
      color: var(--clr-text);
      outline: none;
      background-color: var(--clr-surface-2);
      border-color: var(--clr-accent-border);
      border-style: solid;
      border-width: 1px;
      border-radius: var(--brd-radius-md);
      transition-timing-function: ease-out;
      transition-duration: var(--anim-duration-short);
      transition-property: border-color;

      &:focus {
        border-color: var(--clr-accent-border-hover);
      }
    }
  }

  .cmd-param-input-container:last-child {
    margin-block-end: 2em;
  }

  .cmd-desc {
    margin: 0;

    span {
      color: var(--clr-text-dim);
    }
  }

  .cmd-stream-output-container {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-block-start: 1em;
  }

  .cmd-output,
  .cmd-display {
    min-block-size: 1.2em;
    padding: 1em;
    margin: 0;
    overflow: auto;
    color: var(--clr-text-dim);
    scrollbar-width: thin;
    background-color: var(--clr-surface-0);
    border: solid 1px var(--clr-text-dim);
    border-radius: var(--brd-radius-md);
  }

  .cmd-output.success {
    border-color: var(--clr-success);
  }

  .cmd-output.error {
    border-color: var(--clr-error);
  }

  .exec-cmd-dialog-btns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  .cmd-input-menu {
    --clr-background: var(--clr-surface-2);

    &::part(trigger) {
      color: var(--clr-text);
      text-align: start;
      background-color: var(--clr-surface-2);
    }

    &::part(container) {
      margin-block-start: 0.4em;
    }
  }
}

@media screen and (max-width: 500px) {
  .execute-command-dialog {
    .cmd-dialog-inputs-container {
      grid-template-columns: minmax(100px, 1fr);
    }
  }
}
