.execute-command-dialog {
  .cmd-dialog-container {
    color: var(--clr-text);
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 70svh;
  }

  .cmd-dialog-title {
    text-align: center;
    font-size: var(--typ-font-size-2xl);
    font-weight: bold;
    margin-top: 0;
  }

  .dialog-sub-title {
    font-size: var(--typ-font-size-md);
    font-weight: bold;
    margin: 0;
    margin-top: 1em;
  }

  &:not(:has(label)) .arg-title.dialog-sub-title {
    display: none;
  }

  .cmd-dialog-inputs-container {
    display: grid;
    grid-template-columns: auto minmax(100px, 1fr);
    align-items: center;
    gap: 1em;

    input {
      flex: 1;
      color: var(--clr-text);
      background-color: var(--clr-surface-2);
      border-radius: var(--brd-radius-md);
      border-color: var(--clr-accent-border);
      border-width: 1px;
      border-style: solid;
      outline: none;
      margin: 0;
      padding: 0.5em;
      transition-property: border-color;
      transition-duration: var(--anim-duration-short);
      transition-timing-function: ease-out;

      &:focus {
        border-color: var(--clr-accent-border-hover);
      }
    }
  }

  .cmd-param-input-container:last-child {
    margin-bottom: 2em;
  }

  .cmd-desc {
    margin: 0;

    span {
      color: var(--clr-text-dim);
    }
  }

  .cmd-output,
  .cmd-display {
    color: var(--clr-text-dim);
    background-color: var(--clr-surface-0);
    padding: 1em;
    border-radius: var(--brd-radius-md);
    border: solid 1px var(--clr-text-dim);
    margin: 0;
    overflow: auto;
    min-height: 1.2em;
    scrollbar-width: thin;
  }

  .cmd-output.success {
    border-color: var(--clr-success);
  }

  .cmd-output.error {
    border-color: var(--clr-error);
  }

  .exec-cmd-dialog-btns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  .primary-btn {
    display: block;
    width: 100%;
    margin-top: 1em;
  }

  .cmd-input-menu {
    --clr-background: var(--clr-surface-2);

    &::part(trigger) {
      background-color: var(--clr-surface-2);
      color: var(--clr-text);
      text-align: start;
    }

    &::part(container) {
      margin-top: 0.4em;
    }
  }
}

@media screen and (max-width: 500px) {
  .execute-command-dialog {
    .cmd-dialog-inputs-container {
      grid-template-columns: minmax(100px, 1fr);
    }
  }
}
