main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1em;
  min-width: 100dvw;
  min-height: 100dvh;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--clr-border);
  border-radius: var(--brd-radius-lg);
  background-color: var(--clr-surface-1);
  color: var(--clr-text);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: auto;
  backdrop-filter: blur(0.5px);
}

form {
  display: grid;
  gap: 1em;
}

input {
  flex: 1;
  background-color: var(--clr-surface-2);
  border-radius: var(--brd-radius-md);
  border-color: var(--clr-accent-border);
  border-width: 1px;
  border-style: solid;
  outline: none;
  margin: 0;
  padding: 0.5em;
  transition-property: border-color;
  transition-duration: var(--anim-duration-short);
  transition-timing-function: ease-out;

  &:focus {
    border-color: var(--clr-accent-border-hover);
  }
}
