main {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 5fr;
  gap: 2em;
  inline-size: 100%;
  max-inline-size: 1200px;
  block-size: 100dvh;
  padding-inline: 2em;
  margin: auto;
}

menu-component::part(trigger) {
  flex: 1;
  min-inline-size: 0;
  font-family: var(--typ-font-family-base);
  font-size: var(--typ-font-size-md);
  word-break: break-all;
  border-style: solid;
  border-width: 1px;
}

.menu-search-container {
  position: sticky;
  inset-block-start: 0;
  padding: 1em;
  background-color: var(--clr-surface-1);
}

.menu-search {
  inline-size: 100%;
  padding: 0.5rem;
  margin: 0;
  outline: none;
  background-color: var(--clr-surface-2);
  border-color: var(--clr-accent-border);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--brd-radius-md);
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .ctrl-btn {
    min-inline-size: 200px;
  }

  menu-component {
    &::part(trigger) {
      min-inline-size: 200px;
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    padding-inline: 0.5em;
  }
}
