:host {
  /* The size of the close button svg icon. */
  --sz-close-icon: 24px;

  /* The color of the close button svg icon. */
  --clr-close-icon: currentcolor;

  /* The duration of the open/close animation. */
  --dur-anim: 0.3s;

  /* The color of the dialog backdrop. */
  --clr-backdrop: rgb(0 0 0 / 65%);

  /* The color of the dialog background. */
  --clr-background: #303030;

  display: contents;

  @media (prefers-reduced-motion) {
    --dur-anim: 0s;
  }
}

dialog {
  inset: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  border: none;
  padding: 0;
  background: var(--clr-backdrop);
  overflow: clip;

  /* backdrop-filter: blur(2px); causing fps drop while animating */
}

.content {
  position: fixed;
  inset: 0;
  margin: auto;
  width: calc(90% - 80px);
  height: fit-content;
  max-width: 600px;
  max-height: 80%;
  padding: 2em;
  border-radius: 10px;
  background-color: var(--clr-background);
  box-shadow: 5px 5px 7px -6px rgb(0 0 0 / 55%);
  overflow: auto;
  scrollbar-width: thin;
}

dialog::backdrop {
  display: none;
}

dialog[open] .content {
  animation: show var(--dur-anim) ease forwards;
}

@keyframes show {
  from {
    transform: translateY(70%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

dialog[open] {
  animation: bg-show var(--dur-anim) ease forwards;
}

@keyframes bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

dialog.hide .content {
  animation: hide var(--dur-anim) ease-in forwards;
}

@keyframes hide {
  to {
    transform: translateY(70%);
    opacity: 0;
  }
}

dialog.hide {
  animation: bg-hide var(--dur-anim) ease-in forwards;
}

@keyframes bg-hide {
  to {
    opacity: 0;
  }
}

dialog button.close-button {
  position: sticky;
  top: 0;
  inset-inline-end: 0;
  float: inline-end;
  display: grid;
  place-items: center;
  margin-top: -1em;
  margin-inline-end: -1em;
  padding: 0.2rem;
  background-color: inherit;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

dialog button.close-button svg {
  width: var(--sz-close-icon);
  height: var(--sz-close-icon);
  fill: var(--clr-close-icon);
}

@media (hover: hover) and (pointer: fine) {
  dialog button.close-button:hover {
    background-color: hsl(from var(--clr-close-icon) h s l / 10%);
  }
}

@media screen and (max-width: 500px) {
  .content {
    padding: 1em;
    width: calc(100% - 40px);
    max-height: 90%;
  }

  dialog button.close-button {
    margin-inline-end: 0;
  }
}
