.confirm-dialog {
  .confirm-dialog-container {
    color: var(--clr-text);
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .confirm-dialog-title {
    font-size: var(--typ-font-size-3xl);
    font-weight: bold;
    text-align: start;
    margin: 0;
  }

  .confirm-dialog-msg{
    font-size: var(--typ-font-size-md);
    line-height: 1.5;
  }

  .confirm-dialog-btns-container {
    display: flex;
    gap:2em;
  }
}
