.add-command-dialog {
  .add-command-dialog-container {
    color: var(--clr-text);
  }

  .add-command-dialog-title {
    font-size: var(--typ-font-size-3xl);
    font-weight: bold;
    text-align: start;
    margin-top: 0;
    margin-bottom: 1em;
  }

  textarea {
    font-family: var(--typ-font-family-base);
    font-size: var(--typ-font-size-md);
    resize: none;
  }

  input,
  textarea {
    color: var(--clr-text);
    background-color: var(--clr-surface-2);
    border-radius: var(--brd-radius-md);
    border-color: var(--clr-accent-border);
    border-width: 1px;
    border-style: solid;
    outline: none;
    margin: 0;
    padding: 0.5em;
    transition: border-color 200ms ease;
    box-sizing: border-box;

    &:focus {
      border-color: var(--clr-accent-border-hover);
    }
  }

  toggle-checkbox {
    margin-block: 0.4em;
  }

  accordion-component {
    --clr-content-background: var(--clr-surface-0);

    &::part(trigger) {
      background-color: var(--clr-surface-0);
    }
  }

  .add-command-variable-container,
  .add-command-form {
    display: grid;
    grid-template-columns: auto minmax(100px, 1fr);
    align-items: center;
    gap: 1em;
    margin-block: 1em;
  }

  .add-command-variable-container {
    padding-inline-end: 1em;
  }

  .add-variable-type-menu::part(trigger) {
    background-color: var(--clr-surface-2);
    color: var(--clr-text);
  }

  .add-variables-insert {
    grid-column: span 2;
  }

  .add-command-btn {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .add-command-dialog {
    .add-command-variable-container,
    .add-command-form {
      grid-template-columns: minmax(100px, 1fr);
    }

    .add-variables-insert {
      grid-column: unset;
    }

    accordion-component::part(content) {
      padding-left: 1em;
    }
  }
}
