.commands-menu {
  .add-command-container {
    display: flex;
    align-items: stretch;
    gap: 0.5em;
  }

  .add-command {
    display: block;
    text-align: center;
    box-sizing: border-box;
    border-color: var(--clr-accent-border);

    svg {
      display: block;
      margin: auto;
      width: 1em;
      height: 1em;
      fill: currentcolor;
    }
  }

  .cmd-menu-group {
    padding-block: 0.5em;

    .cmd-menu-group-title {
      color: var(--clr-text);
      margin-top: 0;
      margin-left: 0.5em;
      margin-bottom: 0.2em;
    }

    &:not(:last-child) {
      border-bottom: solid 1px var(--clr-border);
      margin-bottom: 0.5em;
    }

    &[data-hidden="true"] {
      display: none;
    }

    &:has(+ .cmd-menu-group[data-hidden="true"]) {
      border-bottom: none;
    }
  }

  .cmd-menu-option-container {
    display: flex;
    align-items: center;
    transition-property: background-color;
    transition-duration: var(--anim-duration-short);
    transition-timing-function: ease-out;
  }

  .cmd-menu-option-action-btn {
    flex: unset;
    padding: 0.2em;
    margin-inline-end: 0.5em;

    svg {
      display: block;
      margin: auto;
      width: 1.2em;
      height: 1.2em;
      fill: currentcolor;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .cmd-menu-option-action-btn {
      display: none;
    }

    .cmd-menu-option-container:hover {
      background-color: var(--clr-surface-0);

      .cmd-menu-option-action-btn {
        display: block;
      }
    }
  }

  select-option {
    flex: 1;

    &::part(option) {
      padding-left: 0.8em;
    }

    &[data-hidden="true"] {
      display: none;
    }
  }

  select-option::part(option):hover {
    background-color: inherit;
  }
}
