/* Rename css variable */
:has(.file-code-editor) {
  --color-border: var(--clr-border);
}

.file-code-editor {
  --clr-background: var(--clr-surface-2);
  --clr-focused: var(--clr-surface-2);
  --clr-border: var(--color-border);
  --clr-text-selection-bg: var(--clr-accent);
  --clr-active-line: hsl(from var(--clr-accent) h s l / 10%);
  --clr-line-numbers-background: var(--clr-surface-1);
  --clr-line-numbers-txt: var(--clr-text-dim);
  --clr-line-numbers-active-txt: var(--clr-accent);
  --sz-border-radius: var(--brd-radius-lg);

  height: calc(100% - 2em);

  .editor-header {
    position: relative;
    padding: 0.6em;
    border-bottom: solid 1px var(--clr-border);
    background-color: var(--clr-surface-1);

    p {
      text-align: center;
      color: var(--clr-text-accent);
      overflow-wrap: anywhere;
      margin: 0;
      pointer-events: none;
    }

    .editor-header-reload-btn {
      display: none;
      position: absolute;
      inset-inline-start: 0.2em;
      inset-block-start: 0.2em;
      border-radius: var(--brd-radius-lg);
      padding: 0.4em;

      svg {
        display: block;
        margin: auto;
        width: 1em;
        height: 1em;
        fill: currentcolor;
      }
    }
  }
}
